:root{
    --corPrimaria : #B1BC93; 
    --corSecundaria : #f8804ccc ;
    --corBtnCatalogo: #F87F4C ;
    --corBtnBorda: #AFD5D9;
    --black : black;
    --branco : white;
    --fontePrincipal : 'Trebuchet MS';
    --tamanhoFonteTitulo : 24pt;
}

*{
    margin: 0%;
    padding: 0%;
}

.icon{
    width: 35%;
    height: auto;
    margin: 0px 20px;
}

header , footer{
    width: 100%;
    padding: 5px 0px;
    display: flex;
    background-color: var(--corPrimaria);
    color: var(--branco);
}

a{
    text-decoration: none;
    color: var(--branco);
}

header{
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

header li{
    display: flex;
    align-items: center;
}

header a{
    font-size: large;
}

main h3 , p{
    margin: 15px;
}

.produtos{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.topicoGrupo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 0px;
    border: 2px solid var(--corBtnBorda);
    border-radius: 10px;
}

.topicoImagem{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    margin-top: 40px;
}

#costelaAdao{
    background-image: url(/styles/image/catalogo/ornamentais/costela\ adão.jpg);
}

#espadaDeSJorge{
    background-image: url(/styles/image/catalogo/ornamentais/espada\ são\ jorge.jpg);
}

#miniCacto{
    background-image: url(/styles/image/catalogo/ornamentais/mini\ cacto.jpg);
}

#suculenta{
    background-image: url(/styles/image/catalogo/ornamentais/suculenta.jpg);
}

.btnCatalogo{
    padding: 10px;
    border: none;
    border: 2px solid var(--corBtnCatalogo);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btnCatalogo:hover{
    background-color: var(--corBtnCatalogo);
    cursor:pointer;
    transition: 0.5s;
    color: var(--branco);
}

.topicoImgVasos{
    width: 200px;
    height: 200px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    margin-top: 40px;
}

#vaso01{
    background-image: url(/styles/image/catalogo/vasos/vaso\ 1.jpg);
}

#vaso02{
    background-image: url(/styles/image/catalogo/vasos/vaso\ 3.jpg);
}

#vaso03{
    background-image: url(/styles/image/catalogo/vasos/vaso\ 2.jpg);
}

#vaso04{
    background-image: url(/styles/image/catalogo/vasos/vaso\ 4.jpg);
}
footer{
    justify-content: space-around;
    flex-direction: row;
}

#grupoRedes{
    display: flex;
    gap: 30px;
}

.redes{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10pt;
    text-align: center;
    margin: 20px 30px;
}

.redes img{
    width: 80%;
}

footer a{
    font-size: 14px larger;
}