:root{
    --corPrimaria : #B1BC93; 
    --corSecundaria : #f8804ccc ;
    --corBtnCatalogo: #F87F4C ;
    --corBtnBorda: #AFD5D9;
    --black : black;
    --branco : white;
    --fontePrincipal : 'Trebuchet MS';
    --tamanhoFonteTitulo : 24pt;
}

*{
    margin: 0%;
    padding: 0%;
}

.icon{
    width: 35%;
    height: auto;
    margin: 0px 20px;
}

header , footer{
    width: 100%;
    padding: 5px 0px;
    display: flex;
    background-color: var(--corPrimaria);
    color: var(--branco);
}

a{
    text-decoration: none;
    color: var(--branco);
}

header{
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

header li{
    display: flex;
    align-items: center;
}

header a{
    font-size: large;
}

footer{
    justify-content: space-around;
    flex-direction: row;
}

#grupoRedes{
    display: flex;
    gap: 30px;
}

.redes{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10pt;
    text-align: center;
    margin: 20px 30px;
}

.redes img{
    width: 80%;
}

footer a{
    font-size: 14px larger;
}

main{
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 200px;
}

.imagem{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgFundo{
    background-image: url(/styles/image/img\ login.jpg);
}

#telaLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--corBtnCatalogo);
    width: 300px;
    height: 55%;
    border-radius: 20px;
}

.espaco{
    display: flex;
    flex-direction: column;
    line-height: 2.0;
}

button{
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    border: none;
    background-color: var(--corPrimaria);
    font-size: bold;
    color: var(--branco);
    border-radius: 3px;
}

#btnLogin{
    align-items: center;
}